
@font-face {
  font-family: Droid Arabic Kufi;
  src: url(../fonts/DroidArabicKufi.woff);
}
*{

  font-family: 'Droid Arabic Kufi', serif;
}
body {
    background-image:url('../img/bg.png');
    background-repeat:repeat;
} 

a {
  text-decoration: none;
}
.jumbotron {
    background-color: transparent;
    padding: 0 0 0 0;
}
.blue {
    color: #07AAE9;
}
.thumbs {
    padding: 40px 0;
}
.thumbnail > img {
    max-width: 60%;
}
.btns{
    color: aliceblue !important;
    background-color: #0D4076;
}
.footer {
    margin-top: 40px;
    padding: 40px 0;
    
}

.card{
    background-color: rgb(243, 243, 243);
    font-family: 'Tajawal', sans-serif;
  }
  .px2{
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-bottom: 10px;
  }
  .card-body{
    margin: 10px;
  }
  .preview-thumbnail{
    cursor: pointer;
  
  }
  /* card background */
  .cardbg{
    background: #cccccc;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
  }
  /* card print */
  
  #targets{
    display: none;
  }
  .imgcard{
  width:200px; padding-top:40px
  }
  .carde{
    border:2px solid black;
    background:aliceblue;
    display:flex;
    justify-content: space-around;
    margin: 2px;
  }
  .imag{
    width:200px;
  }
  .rowe{
    display:flex;
    justify-content:space-evenly;
    
  }
  .card-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }


  /* footor imgs style */


  .fa {
    width: 60px;
    height: 60px;
    padding: 12px;
    text-decoration: none !important;
    color: #07AAE9;
  
   }
   .statisctic{
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     padding: 20px;
   }
.far{
  height: 150px;
}


.textJustify{
  text-align: justify;
  direction: rtl;
  white-space: nowrap; 
  width: 150px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.overflowed{
  padding-bottom: 2em;
}

.overflowed > p {
  text-align: justify;
  direction: rtl;
  height: 10em;
  overflow: hidden;

}


.bg-img{
  background: url('https://alkafeel.edu.iq/library/img/cover.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
}

.zoom{
  transition: transform .2s;
}
.zoom :hover {
  transform: scale(0.5);
}

/* video */


.bg-video{
position: relative;
}

.bg-video video {
  width: 100%; 
  height: 70vh;
  object-fit: cover;
  z-index: -1;
}

.bg-video::before {
content: '';  
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%  ;
background: rgba(0, 0, 0, 0.30);
}

.bg-video  .text{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 15%;
  right: 15%;

text-align: center;
/* background-color: #01a7e647; */
}



/* start news bar */

/* (A) FIXED WRAPPER */
.hwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
  background: #00b9fe26;
}
 
/* (B) MOVING TICKER WRAPPER */
.hmove { display: flex; }

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  color: #000;
}
 
/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
  0% { transform: translate3d(-200%, 0, 0); }
  100% { transform: translate3d(200%, 0, 0); }
}
.hmove { animation: tickerh linear 50s infinite; }
.hmove:hover { animation-play-state: paused; }


/* end news bar */
