
@font-face {
  font-family: Droid Arabic Kufi;
  src: url(../fonts/DroidArabicKufi.woff);
}
*{

  font-family: 'Droid Arabic Kufi', serif;
}
body {
    background-image:url('../img/bg.png');
    background-repeat:repeat;
} 

.jumbotron {
    background-color: transparent;
    padding: 0 0 0 0;
}
.blue {
    color: #07AAE9;
}
.thumbs {
    padding: 40px 0;
}
.thumbnail > img {
    max-width: 60%;
}
.btns{
    color: aliceblue !important;
    background-color: #0D4076;
}
.footer {
    margin-top: 40px;
    padding: 40px 0;
    
}

.card{
    background-color: rgb(243, 243, 243);
    font-family: 'Tajawal', sans-serif;
  }
  .px2{
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-bottom: 10px;
  }
  .card-body{
    margin: 10px;
  }
  .preview-thumbnail{
    cursor: pointer;
  
  }
  /* card background */
  .cardbg{
    background: #cccccc;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
  }
  /* card print */
  
  #targets{
    display: none;
  }
  .imgcard{
  width:200px; padding-top:40px
  }
  .carde{
    border:2px solid black;
    background:aliceblue;
    display:flex;
    justify-content: space-around;
    margin: 2px;
  }
  .imag{
    width:200px;
  }
  .rowe{
    display:flex;
    justify-content:space-evenly;
    
  }
  .card-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }


  /* footor imgs style */


  .fa {
    width: 60px;
    height: 60px;
    padding: 12px;
    text-decoration: none !important;
    color: #07AAE9;
  
   }
   .statisctic{
     display: flex;
     justify-content: space-evenly;
   }
.far{
  height: 150px;
}

.bg-img{
  background: url('https://alkafeel.edu.iq/library/img/cover.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
}