/********************* start include font ********************************/
@font-face {
    font-family: "JF Flat Regular";
    src: url('../font/JF-Flat-regular.eot');
    src: url('../font/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('../fonts/JF-Flat-regular.woff') format('woff'),
    url('../fonts/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/********************* end include font ********************************/
body {
    font-family: 'JF Flat Regular', sans-serif !important;
    /*background-image: url("../../2.jpg") !important;*/
    /*background-repeat: round;*/
    /*background-size: auto;*/
    
}

#frm{
    background-color:transparent !important;
}

.logo{
    height: 100px;
    width: 100px;
}

span{
    
}